<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if MyAppWeb.Guardian.Plug.current_token(@conn) do %>
      <meta name='guardian_token' content="<%= MyAppWeb.Guardian.Plug.current_token(@conn) %>">
    <% end %>
    <title><%= assigns[:page_title] || "MyApp" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/dist/app.css") %>">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/files/favicon-32x32.png") %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/files/favicon.ico") %>" sizes="16x16" />
    <script src="<%= static_path(@conn, "/dist/app.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/dist/unpoly.min.css") %>">
    <script src="<%= static_path(@conn, "/dist/unpoly.min.js") %>"></script>
  </head>

  <body>
    <div class="container">
      <nav class="navbar">

        <div class="navbar-brand">
          <%= link "MyApp", to: page_path(@conn, :index), class: "navbar-item page-title is-primary", "up-follow": "" %>
          <div class="navbar-burger" data-target="nav-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="navbar-menu" id="nav-menu">
          <!-- left side of navbar -->
          <div class="navbar-start"></div>
          <!-- right side of navbar -->
          <div class="navbar-end">
            <%= if @current_user do %>
              <%= link @current_user.username, to: user_path(@conn, :show, @current_user.id), class: "navbar-item" %>
              <%= if !@current_user.activated do %>
                <%= link "Activation Status", to: account_path(@conn, :show_activation_status, @current_user.id), class: "navbar-item" %>
              <% end %>
              <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete", class: "navbar-item" %>
            <% else %>
              <%= link "Register", to: user_path(@conn, :new), class: "navbar-item" %>
              <%= link "Log In", to: session_path(@conn, :new), class: "navbar-item" %>
            <% end %>
          </div>
        </div>

      </nav>
    </div>

    <%= render MyAppWeb.LayoutView, "notification.html", assigns %>

    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
