.collection-card {

  .collection-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .collection-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      max-width: 75%;
    }

    .title {
      margin-bottom: 0px;
      word-break: break-word;
    }

    .collection-author {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .collection-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }
  }

}
