.collection-card {

  .collection-title-row {
    @extend .d-flex, .flex-row, .flex-wrap, .align-items-center, .justify-content-between;
  }

  .collection-link {
    @extend .d-flex, .flex-row, .flex-wrap, .align-items-center;
    max-width: 75%;
    a.title {
      font-weight: 300;
      font-size: 36px;
      word-break: break-word;
    }

    .btn {
      @extend .mb-2;
    }
  }

  .collection-actions {
    @extend .d-flex, .flex-row, .flex-wrap, .align-items-center;
  }

  .collection-author {
    @extend .ml-4, .d-flex, .flex-row, .align-items-center, .my-2;

    .author {
      @extend .ml-2;
    }
  }

  .collection-details {
    @extend .mt-2, .d-flex, .flex-wrap, .flex-row, .align-items-center;

    .info {
      @extend .mr-2;

      .field {
        @extend .text-primary;
        font-weight: 300;
      }

      &.private {
        font-weight: bold;
      }

      .value {

        &.nsfw {
          color: #af2c2c;
          font-weight: bold;
        }

      }
    }
  }

}
